:root {
    --dark-brown: #3c2a21;
    --coffee-brown: #5e3023;
    --yellow-gold: #d4a373;
    --cream: #fdfaf5;
}

body {
    background: #f3f0ec;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#content-area {
    background-color: #f4f1ea;
    min-height: 100vh;
    padding: 30px;
}

#sidebar {
    width: 260px;
    background: var(--dark-brown);
    height: 100vh;
    border-radius: 0 30px 30px 0;
}

.sidebar-custom-logo {
    width: 160px;
    opacity: 0.6;
    transition: 0.3s;
}


.sidebar-custom-logo:hover {
    opacity: 1;
    transform: scale(1.05);
}

.nav-link, .nav-item {
    cursor: pointer;
    padding: 12px 15px;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 0.8;
}

.nav-link:hover {
    background: rgba(255,255,255,0.1);
    color: var(--yellow-gold);
    opacity: 1; }

.auth-card { background: var(--coffee-brown); border-radius: 20px; }
.btn-warning { background: var(--yellow-gold); color: white; border: none; }
.btn-coffee { background: var(--coffee-brown); color: white; border: none; }
.btn-coffee:hover { background: var(--dark-brown); color: white; }

.drinks-card img {
    background-color: #ffffff;
    height: 130px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.item-card:hover { transform: translateY(-5px); box-shadow: 0 8px 15px rgba(0,0,0,0.1); }
.item-card img { height: 110px; object-fit: cover; border-radius: 15px; }

.table { border-radius: 15px; overflow: hidden; }


.billing-card {
    background-color: #f4dcb5 ;
    border: 1px solid #e9e0d2 ;
}


.billing-card h6 {
    color: var(--dark-brown);
}


#cart-items-list {
    background-color: #f5eedc;
    border-radius: 15px;
    padding: 15px;
    min-height: 250px;
}


#cart-total {
    color: var(--coffee-brown);
}

